@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@font-face {
  font-family: 'Forte'; 
  src: url('/fonts/Forte.ttf') format('truetype'); 

}


/* Other global styles can go here */

body {
  font-family: 'Bangers', cursive;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Bangers', cursive;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color:#f0ebe5;

}

::-webkit-scrollbar{
  width: 10px;

}
::-webkit-scrollbar-track
{
  background-color:white ;
}
::-webkit-scrollbar-thumb{
  background-color:#d71515;
  border-radius:4px ;

}
::-webkit-scrollbar-thumb:hover{
  background-color:#b21010;

}


.container {
  width: 100%;
  max-width: 1280px; /* Corresponds to max-w-screen-xl */
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: 640px) {
  .container {
    max-width: 640px; 
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px; 
    margin-left: auto;
    padding:0 10px;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px; 
      margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px; 
    margin-left: auto;
    margin-right: auto;
  }
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-text {
  display: inline-block;
  animation: scroll 10s linear infinite;
}
