@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/globals.css */
@font-face {
  font-family: 'Urban Storm'; 
  src: url('/fonts/Urban Storm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #fbf9f5;

}

::-webkit-scrollbar{
  width: 10px;

}
::-webkit-scrollbar-track
{
  background-color:white ;
}
::-webkit-scrollbar-thumb{
  background-color:#d71515;
  border-radius:4px ;

}
::-webkit-scrollbar-thumb:hover{
  background-color:#b21010;

}


.container {
  width: 100%;
  max-width: 1280px; 
  margin-left: auto;
  margin-right: auto;
}
.mySwiper {
  width: 100%;
  height: auto;
  padding: 50px 0;
  perspective: 1000px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.mobile-screenshot {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  height: auto;
  display: block;
  width: 100%;
  object-fit: cover;
}



@media (min-width: 640px) {
  .container {
    max-width: 640px; 
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .container {
    margin-left: auto;
    padding:0 10px;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px; 
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 100%;
    max-width: 1280px; 
    margin-left: auto;
    margin-right: auto;
  }
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-text {
  display: inline-block;
  animation: scroll 10s linear infinite;
}
